/* --------------- mobile -------------- */

  .header {
    background-color: #f3f1ee;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 5.5rem;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 2px 10px rgba(121, 120, 117, 0.2);
  }

  .logoHeim {
    padding: 1rem;
    }

  .nav {
    display: flex;
    cursor: pointer;
    height: 100%;
    padding-top: 0.4rem;
  }

  .skra {
    display: flex;
    padding-right: 1rem;
  }

  .skra div:hover {
    color: #d98611;
  }

  .skra div {
    display: flex;
  }
  
  .skra a {
    display: flex;
    text-decoration: none;
    margin-right: 2rem;
  }

  .skra h5 {
    padding-left: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0.5rem;
  } 

  .write {
    display: none !important;
  }
  
  .user {
    display: none !important;
  }


/* --------------- Desktop -------------- */

@media only screen and (min-width: 1024px) {

  .logoHeim {
    margin-left: 5rem;
  }

  .skra {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 5.5rem;
    text-decoration: none;
    padding-right: 2rem;
  }
  
  .write {
    display: flex !important; 
    margin-right: 2rem;
  }

  .user {
    display: flex !important; 
    margin-right: 2rem;
  }

}
