/* --------------- mobile -------------- */


  .header {
    background-color: #f3f1ee;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 5.5rem;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 2px 10px rgba(121, 120, 117, 0.2);
  }

  .logoHeim {
    padding: 1rem;
  }

  .nav {
    display: flex;
    padding: 1rem;
    cursor: pointer;
  }

  .skra {
    margin-right: 0.7rem;
    display: flex;
    
  }

  .write {
    visibility: hidden;
  }
  .user {
    visibility: hidden;
  }


/* --------------- tablet -------------- */

@media only screen and (min-width: 1024px) {

  .logoHeim {
    margin-left: 5rem;
  }

  .skra {
    display: flex;
    width: auto;
    text-decoration: none;
  }
  .skra a {
    display: flex;
    text-decoration: none;
    margin-right: 2rem;
  }
  /* .skra p {
    padding-left: 0.5rem;
  } */

  .write {
    visibility: visible;
    display: flex;
    margin-right: 2rem;
  }

  .user {
    visibility: visible;
    display: flex;
    margin-right: 2rem;
  }


}

/* --------------- small Desktop -------------- */
/* --------------- Desktop -------------- */
/* --------------- large Desktop -------------- */
