.container {
    height: 100%;
    width: 100%;
}

.star {
    background: none;
    border-radius: 1rem;
    cursor: pointer;
}

.active {
    background: #ffcd61;
    border-radius: 1rem;
    cursor: pointer;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.likes p {
    padding-right: 0.5rem;
}

