.nav {
  background-color: #F9F8F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4.1rem;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -2px 8px rgba(121, 120, 117, 0.2);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 25%;
}

.write {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 25%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 25%;
}

@media only screen and (min-width: 1024px) {
  .nav {
    display: none;
  }
  
}