.profilePage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.avatar {
    border-radius: 100%;
}

.aboutDiv {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    margin-top: 1rem;
}

.avatarDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}

.bio {
    min-width: 80px;
    max-width: 400px;
    margin: 0;
}

.minStilling {
    display: flex;
}

.stilling {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 20px;
}

.storyContainer {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.storyEditDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: inherit;
    margin-top: 2rem;
}

.myStories {
    width: 100%;
}

.myStoriesHeader {
    display: flex;
    flex-direction: column;
}

.iconButton {
    border: none;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    background: none;
    border-bottom: 2px solid #f3f1ee;
}

.iconButton:hover {
    border-bottom: 2px solid #d98611;
    border-radius: 2px;
}

@media only screen and (min-width: 500px) {
    .aboutDiv {
        flex-direction: row;
        gap: 2rem;
    }
}
@media only screen and (min-width: 1024px) {
    .aboutDiv {
        flex-direction: column;
        width: 200px;
        justify-content: end;
    }

    .profilePage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        gap: 4rem;
        margin: auto;
    }

    .myStories {
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .storyContainer {
        gap: 2rem;
        display: flex;
        justify-content: center;
    }

    .myStoriesHeader {
        text-align: center;
    }
}
